<div class="container container1">
	<h1>All Blogs</h1>
	<%= link_to "New Blog", new_blog_path, {class: "btn btn-info"} %>
	<%= link_to "Comments to Approve", comments_to_approve_path, {class: "btn btn-info"} %>
	<br></br>
	<table class="table table-responsive table-hover table-bordered">
	  <tr>
	    <th>Title</th>
	    <th>Created By</th>
	    <th>Category</th>
	    <th>Text</th>
	    <th colspan="4">Options</th>
	  </tr>
	 
	  <% @blogs.each do |blog| %>
	    <tr>
	      <td><%= blog.title.first(100) %></td>
	      <td><%= blog.created_by %></td>
	      <td><%= blog.category %></td>
	      <td><%= blog.body.first(150) %></td>
	      <td><%= link_to 'Show', blog_path(blog) %></td>
	      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
	      <td><%= link_to 'Comments', blog_path(blog) %></td>
	      <td><%= link_to 'Destroy', blog_path(blog),
	              method: :delete,
	              data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	  <% end %>
	</table>
	<%= will_paginate @blogs %>

</div>


